.DS_Store
/.env
/.env.local
/.env.*.local
/vendor/
/vendor-bin/
/composer.lock~
/composer.phar
/phpstan.tmp
/.phpunit.cache/
/coverage/
/node_modules/
/docker/mysql-data/*
!/docker/mysql-data/.gitkeep
/docker/php/sessions/*
!/docker/php/sessions/.gitkeep
/.idea/
.vscode/
/.php-cs-fixer.cache
/.phpunit.result.cache

# Docker artifacts
/var/
/logs/

# OS-specific
Thumbs.db

